<body style="background-color: #f0f8ff;">

<nav style="background-color: #ffffff !important;border-bottom-style: inset;border-bottom-color: #0063c3;" class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container fontragu"> 
            <img width="130" src="https://www.amgen.com/-/media/Themes/CorporateAffairs/amgen-com/amgen-com/images/amgencommigration/Common/amgen-blue.svg?la=en&hash=FE6A9475A4FC7393355B1D863C07BE60">

                <button style="color: black;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">                        
                     <li>
                         <button class="btn btn-info"(click)="simpleAlert()"> Admin </button></li> 
                                    
                    </ul> 
                </div>
            </div>
             <div class="row" style="font-size: 13px;">
                
                    <span style="text-align: right;">Welcome {{ name }},</span> 
                     <span style="font-size: 10px;color:red;text-align: right;"><B>{{UserAccess}}</B></span>     
                </div>  
</nav>
<header>
<app-header></app-header>
</header>
</body>


  


